
body {
    margin: 0;
    padding: 0;
    
}

.user_name
{
    font-family: "Bungee Tint", sans-serif;
    font-weight: 400;
    font-style:italic
}




    h1
    {
    background-color: aliceblue;
    text-align: center;
    padding: 30px;
    margin: 0;
    font-size: 40px;
    padding-top:90px;
    
    }

    aside
{
    background-color: beige;
    float: left;
    padding: 1%;
    width: 23%;
}


aside > ul > li
{
    margin-bottom: 20px;
}
main
{
    float: left;
    padding: 1%;
    width: 48%;
    flex: 1; /* Zorgt ervoor dat de content de footer naar beneden duwt */
 
}
span
{
    text-decoration: underline;
}

section
{
    width:900px;
    display: flex;
    flex-direction: column;
    padding:12px;
}


.brand{
float:top;
}


footer
{
display:flex;
justify-content:center;
margin-top:160px;
padding:30px;
background-color:rgb(15, 130, 76);
height: 22vh;
width: 100%;

}  

.R_P_S
{
    width: 60px;
    height: 60px;
}
.score
{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
.scorebord
{
    
        font-family: "Orbitron", sans-serif;
        font-optical-sizing: auto;
        font-weight: bold;
        font-style: italic;
      
}
.COMPUTER
{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: red;
}
.USER
{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    color: rgb(41, 163, 64);
}